

<div class="comment">
    <div class="comment-title">
        <i class="fa-solid fa-message"></i>
        <h3>نظرات کاربران</h3>
    </div>
    <div class="comment-singup">
        <span>
            جهت ثبت نظر باید در سایت
            <a href="#">عضوشوید </a>
            و یا
            <a href="#"> وارد سایت</a>
            شده باشید
        </span>
    </div>
    <div class="comment-desc">
        <h4>نظر خود را وارد کنید!</h4>
       <partial name="_NewComment"/>
        
    </div>
    <div class="comment-member">
        <div class="comment-member-item">
            <div class="comment-item-img">
                <img src="/images/Hidden Prof Medium.jpg" alt="" />
            </div>
            <div class="comment-header">
                <p>ارش سعاتمند</p>
                <p>1/1/1400</p>
                <span>
                    <a href="#">پاسخ</a>
                    <a href="#">گزارش</a>
                </span>
            </div>
            <div class="comment-member-text">
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                    و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه
                    روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای
                    شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف به
                </p>
            </div>
        </div>
        <div class="comment-member-item">
            <div class="comment-item-img">
                <img src="/images/Hidden Prof Medium.jpg" alt="" />
            </div>
            <div class="comment-header">
                <p>ارش سعاتمند</p>
                <p>1/1/1400</p>
                <span>
                    <a href="#">پاسخ</a>
                    <a href="#">گزارش</a>
                </span>
            </div>
            <div class="comment-member-text">
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                    و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه
                    روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای
                    شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف به
                </p>
            </div>
        </div>
        <div class="comment-member-item">
            <div class="comment-item-img">
                <img src="/images/Hidden Prof Medium.jpg" alt="" />
            </div>
            <div class="comment-header">
                <p>ارش سعاتمند</p>
                <p>1/1/1400</p>
                <span>
                    <a href="#">پاسخ</a>
                    <a href="#">گزارش</a>
                </span>
            </div>
            <div class="comment-member-text">
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                    و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه
                    روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای
                    شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف به
                </p>
            </div>
        </div>
        <div class="more-comment">
            <p>بیشتر</p>
        </div>
    </div>
</div>