@using RockFord.DataLayer.Entities.Contents
@model RockFord.DataLayer.DTOs.Content.ArticleForShowViewModel

<form asp-controller="Comment" asp-action="AddNewComment" asp-route-articleId="@Model.Id" asp-route-userId="@Model.UserId" method="post">
    <div>
         <textarea asp-for="Comment" placeholder="لطفا نظر خود را وارد کنید"></textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-success"></button>
    </div>
</form>