<aside>
    <section id="aside">
        <div class="aside-title">
            <h3>پست های محبوب</h3>
        </div>
        <div class="puplar-post">
            <div class="puplar-post-item">
                <a href="#">
                    <img src="/images/damping roler.png" alt="" />
                    <h5>نصب دمپینگ خودرو</h5>
                    <p>آموزش نصب دمپینگ</p>
                </a>
            </div>
            <div class="puplar-post-item">
                <a href="#">
                    <img src="/images/Tools (1).jpg" alt="" />
                    <h5>ابزارهای نصب</h5>
                    <p>تمام ابزارهای نصب</p>
                </a>
            </div>
            <div class="puplar-post-item">
                <a href="#">
                    <img src="/images/1 (1).jpg" alt="" />
                    <h5>بهترین ضبط ها</h5>
                    <p>مقایه ای در مورد بهترین ضبط ها</p>
                </a>
            </div>
        </div>
        <div class="aside-title">
            <h3>آخرین مطالب سایت</h3>
        </div>
        <div class="puplar-post">
            @await Component.InvokeAsync("SpLastArticle")
        </div>
        <div class="aside-title">
            <h3>لینک های مرتبط</h3>
        </div>
        <div class="links">
            <div class="seo-link">
                <a href="#">اموزش نصب دمپینگ</a>
                <a href="#">اموزش نصب</a>
                <a href="#">اموزش نصب سیستم</a>
            </div>
        </div>
    </section>
</aside>