@model RockFord.DataLayer.DTOs.Content.ArticleViewModel

<div class="add-article">
    <div class="article-title">
        <h1>اضافه کردن مقاله</h1>
    </div>
    <div class="article-form">
        <form asp-area="Admin" asp-controller="Content" asp-action="AddArticle">


            <div>

                <input type="text" asp-for="MainTitle" placeholder="تایتل بالای صفحه" />
                <span asp-validation-for="MainTitle"></span>
            </div>
            
            <div>
                <input type="text" asp-for="Header" placeholder="هدر بالای مقاله" />
                <span asp-validation-for="Header"></span>
            </div>
            <div >
                <input type="text" asp-for="Description" placeholder="توضیحات مقاله" />
                <span asp-validation-for="Description"></span>
            </div>
            <div>
                <span class="file">
                    <p>اپلود عکس مقاله</p>
                    <input type="file" name="image" />

                </span>
                <span class="file">
                    <p>اپلود عکس ساید بار</p>


                    <input type="file" name="thumb" /> 
                </span>
               
            </div>

            <div class="ckeditor">
                <textarea asp-for="Text"></textarea>
            </div>
            @*<div>
                <div class="input-form">
                    <input type="text"   asp-for="BigWord"
                           id="tag-form"
                           value=""
                           placeholder="کلمات کلیدی" />
                    <span id="tag-btn">یک کلمه کلیدی اضافه کنید و بعد کلید کنترل را فشار دهید</span>
                    
                </div>
                
                <div class="output-form">
                    <div id="input-tag">
                       
                    </div>

                </div>
                
            </div>*@
            
            <div>
                <button type="submit">بارگزاری</button>
            </div>
        </form>

    </div>
</div>
