@{
    ViewData["Title"] = "Home Page";
}

<!-- start main section -->


<main>
    <div id="main-article">
        <div class="container">
            <div class="main-title">
                <h3>
                    مقالات کارصدا
                </h3>
            </div>
            <div class="main-article">

                @await Component.InvokeAsync("LastArticle")

            </div>
        </div>
    </div>

    <!-- end main section -->
    @await Component.InvokeAsync("SiteSlider")
</main>