<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Admin/css/style.css" />
    <link rel="stylesheet" href="/Admin/css/all.min.css" />
    <title>Document</title>
</head>
<body>
    <partial name="_AdminHeader" />
    <!-- header section end -->
    <!--sidebar section start  -->
    <partial name="_SideMenu" />
    <!--sidebar section end  -->
    <!-- main section start -->
    <main class="main">
        @RenderBody()
    </main>

    <!-- main section end -->
    

</body>
</html>
<script src="/Admin/js/all.min.js"></script>
<script src="/Admin/js/app.js"></script>