<header>
    <nav>
        <div class="navbar-left">
            <div class="navbar-search">
                <form class=" navbar-form ">
                    <input type="text" placeholder="جستجو" />
                </form>
                <div class=" form-btn"><i class="fas fa-search"></i></div>
            </div>
        </div>
        <div class="navbar-right">
            <div class="massage">
                <p>پیام ها</p>
                <div class="massage-dropdown">
                    <div class="massage-dropdown-item">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="/Admin/img/Hidden Prof Medium.jpg" alt="" />
                                    <div class="massage-dropdown-title">
                                        <h5>ارش سعادتمند</h5>
                                        <p>قسمتی از پیام</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="admin">
                <p>ادمین</p>
                <div class="admin-dropdown">
                    <ul>
                        <li><a href="#">اضافه کردن مقاله</a></li>
                        <li><a href="#">ویرایش مقاله</a></li>
                        <li><a href="#">قفل صفحه</a></li>
                        <li><a href="#">تنظیمات</a></li>
                        <li><a href="#">خروج</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
