<aside id="aside" class="">
    <div class="aside-span"><i class="fa-solid fa-angles-left"></i></div>
    <section class="sidebar">
        <ul>
            <li><a href="">اضافه کردن مقاله</a></li>
            <li><a href="">اپلود اهنگ</a></li>
            <li><a href="">ویرایش مقاله</a></li>
            <li><a href="">پیام ها</a></li>
            <li><a href="">حساب کاربری</a></li>
            <li><a href="">سئو</a></li>
            <li><a href="">کاربران</a></li>
            <li><a href="">تنظیمات</a></li>
        </ul>
    </section>
</aside>