<ul class="nav sidebar-menu">
    <!--Dashboard-->
    <li>
        <a asp-area="Admin" asp-controller="Home" asp-action="Index">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text"> داشبورد </span>
        </a>
    </li>
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">دسته بندی ها </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li>
                <a asp-area="Admin" asp-controller="Content" asp-action="GroupList">
                    <span class="menu-text">لیست کلی</span>
                </a>
            </li>

            <li>
                <a asp-area="Admin" asp-controller="Content" asp-action="AddMainGroup">
                    <span class="menu-text">افزودن دسته جدید</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text"> مقالات </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li>
                <a asp-area="Admin" asp-controller="Content" asp-action="ListArticle">
                    <span class="menu-text">لیست کلی</span>
                </a>
            </li>

            <li>
                <a asp-area="Admin" asp-controller="Content" asp-action="AddArticle">
                    <span class="menu-text">افزودن مقاله جدید</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">  کاربران </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li>
                <a href="#">
                    <span class="menu-text">لیست کلی</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="menu-text">لیست سیاه</span>
                </a>
            </li>
        </ul>
    </li>
</ul>