@font-face {
  font-family: iransans;
  src: url(../font/irsans_p30download.com.ttf);
}
::-webkit-scrollbar {
  width: 0.7vw;
}
::-webkit-scrollbar-thumb {
  background-color: #fdd110;
  border: 0.2vw solid #e3d68c;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #3d3d3d;
}
* {
  margin: 0;
  padding: 0;
  font-family: iransans;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  direction: rtl;
}
.container {
  width: 98%;
  margin: 0 auto;
}
/* header section start */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #040301;
  display: flex;
  z-index: 10;
}
header nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .navbar-left {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
}
header nav .navbar-left .navbar-search {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
header nav .navbar-left .navbar-search form {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  display: flex;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
header nav .navbar-left .navbar-search form.search-active {
  width: 70%;
}
header nav .navbar-left .navbar-search form input {
  width: 100%;
  padding: 8px 10px;
  background-color: #817c5e;
  opacity: 0.8;
  border: none;
  outline: none;
  border-bottom: 3px solid #fdd110;
  font-size: 16px;
  color: #fff;
}
header nav .navbar-left .navbar-search form input::placeholder {
  color: #fff;
}
header nav .navbar-left .navbar-search div svg {
  position: absolute;
  right: 10px;
  top: 50%;
  color: #fdd110;
  font-size: 20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  cursor: pointer;
}

header nav .navbar-right {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .navbar-right > div {
  position: relative;
  width: 45%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .navbar-right > div p {
  color: #fff;
  position: relative;
}
header nav .navbar-right > div > p::before {
  content: "";
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: url(../img/kisspng-computer-icons-icon-design-user-5b3e529cdf3df9.8745700215308110369144.jpg);
  background-position: center;
  background-size: cover;
  object-fit: cover;
  overflow: hidden;
  border: 1px solid #fdd110;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
header nav .navbar-right > div:nth-child(1) > p::before {
  background: url(../img/21104.png);
  background-position: center;
  object-fit: cover;
  background-size: cover;
  background-color: #fff;
}
header nav .navbar-right .massage .massage-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  width: 250px;
  max-height: 400px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  overflow: auto;
  z-index: 100;
}
header nav .navbar-right .massage:hover .massage-dropdown {
  opacity: 1;
  visibility: visible;
  border: 1px solid #3d3d3d;
  border-top: none;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
}
header nav .navbar-right .massage .massage-dropdown .massage-dropdown-item {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #fdd110;
}
header
  nav
  .navbar-right
  .massage
  .massage-dropdown
  .massage-dropdown-item:last-child {
  border: none;
}
header nav .navbar-right .massage .massage-dropdown ul {
  width: 100%;
  height: 100%;
}
header nav .navbar-right .massage .massage-dropdown ul li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
header nav .navbar-right .massage .massage-dropdown ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
header
  nav
  .navbar-right
  .massage
  .massage-dropdown
  ul
  li
  .massage-dropdown-title {
  width: 60%;
  margin-right: 25px;
}

header nav .navbar-right .massage .massage-dropdown ul li img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: 2px solid #fdd110;
  border-radius: 50%;
}
.massage-dropdown ul li .massage-dropdown-title h5 {
  color: #000;
  margin-bottom: 5px;
}
.massage-dropdown ul li .massage-dropdown-title p {
  color: #000;
}
header nav .navbar-right .admin-dropdown {
  position: absolute;
  left: 40px;
  top: 100%;
  width: 205px;
  height: 211px;
  border: 1px solid #3d3d3d;
  border-top: none;
  background-color: #fdd110;
  border-radius: 0 0 5px 5px;
  opacity: 0;
  visibility: hidden;
}
header nav .navbar-right .admin:hover .admin-dropdown {
  opacity: 1;
  visibility: visible;
}
header nav .navbar-right .admin-dropdown ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: cetner;
  flex-direction: column;
}
header nav .navbar-right .admin-dropdown ul li {
  width: 100%;
  margin: 5px 0;
  padding: 8px 5px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #817c5e;
}
header nav .navbar-right .admin-dropdown ul li:last-child {
  border: none;
}
header nav .navbar-right .admin-dropdown ul li a {
  color: #000;
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: center;
}
header nav .navbar-right .admin-dropdown ul li:hover a {
  color: #fff;
}

/* header section end */
/* sidebar section start */
aside {
  position: fixed;
  right: 0;
  top: 50px;
  height: calc(100% - 50px);
  width: 0;
  display: flex;
  background-color: #3d3d3d;
  transition: all 0.3s ease-in-out;
}
aside.active-sidebar {
  width: 120px !important;
}
aside .aside-span {
  position: absolute;
  right: calc(100% - 20px);
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  background-color: #fdd110;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 10;
}
aside.active-sidebar .aside-span {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}
aside .sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
aside .sidebar ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation-delay: 0.2s;
}
aside.active-sidebar ul {
  animation: opacity 1s ease-in-out;
  -webkit-animation: opacity 1s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes opacity {
  100% {
    opacity: 1;
  }
}
aside .sidebar ul li {
  margin: 20px 0;
  text-align: center;
  display: flex;
}
aside .sidebar ul li a {
  color: #fff;
  font-size: 13px;
}
aside .sidebar ul li:hover a {
  color: #fdd110;
}

/* sidebar section end */
/* main section start */
main {
  width: 100%;
  background-color: #5c5a5a;
  margin-top: 50px;
  margin-right: auto;
}
aside.active-sidebar + main {
  width: calc(100% - 120px);
}
/* article start */

main .add-article {
  width: 100%;
}
main .add-article .article-title {
  width: 100%;
  display: flex;
  justify-content: center;
}
main .add-article .article-title h1 {
  color: #fff;
  font-size: 25px;
  margin-top: 30px;
}
main .add-article .article-form {
  width: 90%;
  margin: 0 auto;
}
main .add-article .article-form form {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
main .add-article .article-form input {
  width: 45%;
  height: 40px;
  margin-top: 30px;
  outline: none;
  border: none;
  font-size: 17px;
  padding: 10px;
}
main .add-article .article-form textarea {
  width: 80%;
  height: 150px;
  margin: 30px auto;
  resize: none;
  padding: 10px;
  border: none;
  outline: none;
}
main .add-article .article-form form div {
  width: 80%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main .add-article .article-form form div span {
  width: 25%;
}
main .add-article .article-form form div span input {
  width: 100%;
  margin: 0;
}
main .add-article .ckeditor {
  width: 90%;
  background: #fff;
  margin: 50px auto;
  padding: 40px;
}
main .add-article .ckeditor h4{
  margin: 10px 0;
  padding-left: 20px;
}
main .add-article .ckeditor p {
  line-height: 30px;
  font-size: 14px;
}
main .add-article .ckeditor img {
  max-width: 90%;
  margin: 10px auto;
  display: flex;
}
main .add-article .groping-form {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .add-article .output-form {
  width: 48%;
  display: flex;
  justify-content: center;
}

main .add-article .groping-form .output-form #input-tag {
  width: 80%;
  min-height: 30px;
  height: fit-content;
  max-height: 180px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  overflow: hidden;
  margin: 10px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
}
main .add-article .groping-form .output-form #input-tag a {
  border: 1px solid red;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding-right: 20px;
  position: relative;
  cursor: pointer;
}
main .add-article .groping-form .output-form #input-tag a::before {
  content: "";
  font-size: 15px;
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 2px;
  background: red;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
main .add-article .groping-form .output-form #input-tag a::after {
  content: "";
  font-size: 15px;
  position: absolute;
  right: 8px;
  top: 39%;
  transform: translateY(-50%);
  width: 2px;
  height: 10px;
  background: red;
  transform: rotate(6deg);
  -webkit-transform: rotate(318deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

main .add-article .groping-form .input-form {
  width: 48%;
}
main .add-article .groping-form .input-form form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .add-article .groping-form .input-form form input {
  width: 350px;
  padding: 10px;
  border: none;
  outline: none;
  resize: none;
}
main .add-article .groping-form .input-form > form > #tag-btn {  
  width: 300px;
  height: 40px;
  padding: 10px;
  color: #fdd110;
  border: none;
  font-size: 19px;
  margin: 10px 0;
  text-align: center;
}
.groping-article {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.groping-article form {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}
.groping-article form input {
  width: 200px;
  height: 40px;
  margin-top: 30px;
  outline: none;
  border: none;
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
}
.groping-article form button {
  width: 100px;
  padding: 5px;
  background-color: #fdd110;
  color: #000;
  border: none;
  font-size: 13px;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* article end */
main .end {
  width: 100%;
  display: flex;
  justify-content: center;
}
main .end a {
  width: 250px;
  height: 40px;
  background-color: #fdd110;
  color: #000;
  font-size: 20px;
  margin: 20px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* main section end */
input[type="file"] {
  opacity: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
.file {
  position: relative;
  padding: 10px 20px;
  background: #fdd110;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
